// colors
$primary: #5841D8;
$main : #111827;
$black: #000;
$white: #fff;
$red: #CF304A;
$green: #03A66D;
$black2: #1E2329;
$gray: #707A8A;
// fonts
$inter: 'Inter', sans-serif;
$poppins: 'Poppins', sans-serif;
$arial: 'Arial', sans-serif;
$workSans: 'Work Sans', sans-serif;


