.hero {
    background-color: $main;
    padding: 220px 0 310px;
    &__inner {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $white;
        h1 {
            margin-bottom: 32px;
        }
        p {
            margin-bottom: 30px;
            font-weight: 500;
        }
    }
    
}
// 1380px
@mixin hero-xxxlg-xxxxlg {
    .hero {

    }
}
// 1250px
@mixin hero-xlg-xxlg-extra {
    .hero {

    }
}
// 1180px
@mixin hero-xlg-xxlg {
    .hero {
        padding: 180px 0 220px;
        &__inner {
            h1 {
                margin-bottom: 24px;
            }
            p {
                margin-bottom: 24px;
            }
        }
    }
}
// 1024px
@mixin hero-lg-xlg {
    .hero {
        padding: 140px 0 190px;
        &__inner {
            h1 {
                margin-bottom: 24px;
            }
            p {
                margin-bottom: 24px;
            }
        }
    }
}
// 930px
@mixin hero-md-lg {
    .hero {
        padding: 130px 0;
    }
}
// 750px
@mixin hero-sm-md {
    .hero {
        padding: 120px 0 100px;
        &__inner {
            h1 {
                margin-bottom: 16px;
            }
            p {
                margin-bottom: 18px;
            }
        }
    }
}
// 650px
@mixin hero-sm-md-extra {
    .hero {
        padding: 120px 0 60px;
    }
}
// 540px
@mixin hero-xsm-sm {
    .hero {

    }
}
// 440px
@mixin hero-xxsm-xsm {
    .hero {
        padding: 100px 0 50px;
    }
}
.intro {
    font-family: $arial;
    box-shadow: 0px 65px 96px 0px #645CAA17;
    background-color: $white;
    border-radius: 12px;
    width: calc(100% - 80px);
    max-width: 1394px;
    margin: 0 auto;
    padding: 70px 60px 90px;
    transform: translateY(-22%);
    color: $black2;
    .auto__container {
        padding: 0;
    }
    &__inner {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        &-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 64px;
            a {
                font-size: 14px;
                line-height: 20px;
                color: $gray;
                display: flex;
                align-items: center;
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 24px;
                    height: 24px;
                    margin-left: 8px;
                    img {
                        width: 100%;
                    }
                }
            }
        }
        h4 {
            margin-bottom: 24px;
            line-height: 136%;
        }
        .button {
            font-family: $arial;
            border: 1px solid transparent;
            &.primary {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                padding: 12px 60px;
            }
            &:hover {
                border-color: $primary;
            }
        }
    }
    .table {
        width: calc(100% + 32px);
        margin: 0 -16px;
        margin-bottom: 40px;
        tr {
            th {
                font-size: 14px;
                line-height: 18px;
                color: $gray;
                font-weight: 400;
                font-family: $arial;
                padding: 16px;
                text-align: start;
                &:last-child {
                    text-align: end;
                }
            }
            td {
                padding: 16px;
                width: 20%;
                &:first-child {
                    width: 100%;
                    display: flex;
                    align-items: center;
                }
                &:nth-child(3) {
                    width: 25%;
                }
                &:last-child {
                    text-align: end;
                }
            }
        }
        h6 {
            font-size: 15px;
            line-height: 24px;
            font-weight: 400;
            margin-right: 10px;
        }
        p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            &.sm {
                font-size: 13px;
                line-height: 20px;
                color: $gray;
            }
            &.red {
                color: $red;
            }
            &.green {
                color: $green;
            }
        }
        span {
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 16px;
            img {
                width: 100%;
            }
        }
    }
}
// 1380px
@mixin intro-xxxlg-xxxxlg {
    .intro {

    }
}
// 1250px
@mixin intro-xlg-xxlg-extra {
    .intro {

    }
}
// 1180px
@mixin intro-xlg-xxlg {
    .intro {
        transform: translateY(-18%);
        padding: 50px;
        width: calc(100% - 60px);
        &__inner {
            &-title {
                margin-bottom: 45px;
            }
            .table {
                tr {
                    td {
                        &:nth-child(n) {
                            width: 18%;
                        }
                        &:first-child {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
// 1024px
@mixin intro-lg-xlg {
    .intro {
        transform: translateY(-15%);
        padding: 35px;
        &__inner {
            &-title {
                margin-bottom: 30px;
            }
            .button {
                &.primary {
                    font-size: 14px;
                    line-height: 20px;
                    padding: 10px 40px;
                }
            }
        }
    }
}
// 930px
@mixin intro-md-lg {
    .intro {
        transform: translateY(-11%);
    }
}
// 750px
@mixin intro-sm-md {
    .intro {
        padding: 24px;
        &__inner {
            &-title {
                margin-bottom: 22px;
            }
            .table {
                margin: 0 -10px 24px;
                width: calc(100% + 20px);
                tr {
                    th {
                        padding: 10px;
                        font-size: 12px;
                        line-height: 16px;
                    }
                    td {
                        padding: 10px;
                        &:nth-child(n) {
                            width: 18%;
                        }
                        &:first-child {
                            width: 100%;
                        }
                    }
                }
                h6 {
                    font-size: 13px;
                    line-height: 18px;
                    margin-right: 6px;
                }
                p {
                    font-size: 14px;
                    line-height: 20px;
                    &.sm {
                        font-size: 11px;
                        line-height: 15px;
                    }
                }
                span {
                    width: 26px;
                    height: 26px;
                    margin-right: 10px;
                }
            }
            h4 {
                margin-bottom: 18px;
            }
        }
    }
}
// 650px
@mixin intro-sm-md-extra {
    .intro {
        width: 100%;
        transform: translateY(0);
        padding: 20px;
        border-radius: unset;
        box-shadow: unset;
        &__inner {
            &-title {
                margin-bottom: 15px;
                a {
                    font-size: 12px;
                    line-height: 16px;
                    span {
                        width: 20px;
                        height: 20px;
                        margin-left: 5px;
                    }
                }
            }
            h4 {
                margin-bottom: 12px;
            }
            .button {
                &.primary {
                    font-size: 12px;
                    line-height: 16px;
                    padding: 8px 32px;
                }
            }
        }
    }
}
// 540px
@mixin intro-xsm-sm {
    .intro {
        &__inner {
            .table {
                margin: 0 -6px 14px;
                width: calc(100% + 12px);
                tr {
                    th {
                        padding: 6px;
                        font-size: 10px;
                        line-height: 13px;
                    }
                    td {
                        padding: 6px;
                        &:nth-child(n) {
                            width: 18%;
                        }
                        &:first-child {
                            width: 100%;
                        }
                    }
                }
                h6 {
                    font-size: 10px;
                    line-height: 13px;
                    margin-right: 4px;
                }
                p {
                    font-size: 12px;
                    line-height: 16px;
                    &.sm {
                        font-size: 9px;
                        line-height: 12px;
                    }
                }
                span {
                    width: 22px;
                    height: 22px;
                    margin-right: 6px;
                }
            }
        }
    }
}
// 440px
@mixin intro-xxsm-xsm {
    .intro {
        &__inner {
            &-title {
                margin-bottom: 10px;
                a {
                    font-size: 10px;
                    line-height: 13px;
                    span {
                        width: 16px;
                        height: 16px;
                        margin-left: 3px;
                    }
                }
            }
            .table {
                margin: 0 -4px 14px;
                width: calc(100% + 8px);
                tr {
                    th {
                        padding: 4px;
                        font-size: 8px;
                        line-height: 10px;
                    }
                    td {
                        padding: 4px;
                        &:nth-child(n) {
                            width: 18%;
                        }
                        &:first-child {
                            width: 100%;
                        }
                    }
                }
                h6 {
                    font-size: 8px;
                    line-height: 10px;
                    margin-right: 3px;
                }
                p {
                    font-size: 10px;
                    line-height: 13px;
                    &.sm {
                        font-size: 8px;
                        line-height: 10px;
                    }
                }
                span {
                    width: 18px;
                    height: 18px;
                    margin-right: 4px;
                }
            }
            h4{
                margin-bottom: 10px;
            }
            .button {
                &.primary {
                    font-size: 11px;
                    line-height: 15px;
                    padding: 8px 24px;
                }
            }
        }
    }
}
// 380px
@mixin intro-xxxsm-xxsm {
    .intro {
        padding: 15px;
        &__inner {
            &-title {
                flex-wrap: wrap;
                h3 {
                    width: 100%;
                }
                a {
                    align-self: flex-end;
                    margin: 6px 0 0 auto;
                }
            }
            .table {
                margin: 0 -3px 14px;
                width: calc(100% + 12px);
                tr {
                    th {
                        padding: 3px;
                    }
                    td {
                        padding: 3px;
                    }
                }

                p {
                    font-size: 9px;
                    line-height: 12px;
                    &.sm {
                        font-size: 7px;
                    }
                }
                span {
                    width: 14px;
                    height: 14px;
                    margin-right: 4px;
                }
            }
        }
    }
}
// 310px
@mixin intro-xxxxsm-xxxsm {
    .intro {
        &__inner {
            &-table {
                overflow-y: auto;
                margin: 0 -3px;
                width: calc(100% + 6px);
            }
            .table {
                width: 100%;
                min-width: 300px;
                margin: 0 0 14px 0;
            }
        }
    }
}
.value {
    padding: 70px 0 240px;
    &__bg {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 40%;
        right: 20%;
        bottom: 100%;
        transform: translateY(30%);
        z-index: -1;
        max-width: 640px;
        img {
            width: 100%;
        }
    }
    &__inner {
        &-title {
            margin-bottom: 88px;
            max-width: 690px;
            p {
                color: #6B7280;
            }
        }
        &-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-col {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 70%;
            max-width: 1150px;
            position: relative;
            z-index: 2;
        }
        &-image {
            position: absolute;
            bottom: -10%;
            right: 0;
            width: 55%;
            max-width: 895px;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateX(26%);
            z-index: 1;
            img {
                width: 100%;
            }
        }
        h3 {
            margin-bottom: 20px;
            color: $main;
        }
    }
    &Item {
        width: calc(33.3% - 15px);
        max-width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 60px;
        &__icon {
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 17px;
            margin-bottom: 16px;
            background-color: #1AB6FF;
            &.blue {
                background-color: #1AB6FF;
            }
            &.green {
                background-color: #2ED16D;
            }
            &.darkBlue {
                background-color: #171796;
            }
            &.red {
                background-color: #F91229
            }
            &.orange {
                background-color: #F9A83E;
            }
            &.gray {
                background-color: #AEBACD
            }
            img {
                width: 55%;
                max-width: 24px;
            }
        }
        h4 {
            margin-bottom: 16px;
        }
        p {
            height: 84px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
// 1540px
@mixin value-xxxxxlg-xxxxxxlg {
    .value {
        &__inner {
            &-col {
                width: 74%;
            }
            &-image {
                width: 50%;
            }
        }
    }
}
// 1450px
@mixin value-xxxxlg-xxxxxlg {
    .value {
        &__inner {
            &-image {
                width: 47%;
            }
        }
        &Item {
            h4 {
                font-size: 25px;
                line-height: 30px;
                min-height: 60px;
                margin-bottom: 12px;
            }
        }
    }
}
// 1380px
@mixin value-xxxlg-xxxxlg {
    .value {
        padding: 50px 0 200px;
        &__inner {
            &-title {
                margin-bottom: 60px;
            }
            &-image {
                bottom: -8%;
            }
        }
        &Item {
            margin-bottom: 45px;
        }
    }
}
// 1250px
@mixin value-xlg-xxlg-extra {
    .value {

    }
}
// 1180px
@mixin value-xlg-xxlg {
    .value {
        padding: 40px 0 170px;
        &__inner {
            &-title {
                margin-bottom: 50px;
            }
            &-col {
                width: 72%;
            }
            &-image {
                width: 50%;
            }
            h3 {
                margin-bottom: 12px;
            }
        }
        &Item {
            width: calc(33.3% - 12px);
            margin-bottom: 30px;
            &__icon {
                width: 40px;
                height: 40px;
                margin-bottom: 10px;
                border-radius: 10px;
            }
            h4 {
                font-size: 20px;
                line-height: 22px;
                min-height: 44px;
                margin-bottom: 10px;
            }
            p {
                font-size: 15px;
                line-height: 24px;
                height: 72px;
            }
        }
    }
}
// 1024px
@mixin value-lg-xlg {
    .value {

    }
}
// 930px
@mixin value-md-lg {
    .value {
        padding: 40px 0 140px;
        &__inner {
            &-title {
                margin-bottom: 36px;
            }
            &-row {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
            &-col {
                width: 100%;
                margin-top: -5%;
            }
            &-image {
                width: 100%;
                position: static;
                order: -1;
                transform: translateX(-20%);
                max-width: 560px;
            }
        }
    }
}
// 750px
@mixin value-sm-md {
    .value {
        &Item {
            width: calc(50% - 15px);
            margin-bottom: 20px;
            h4 {
                font-size: 17px;
                line-height: 22px;
                min-height: unset;
                margin-bottom: 10px;
            }
            p {
                font-size: 14px;
                line-height: 22px;
                height: 66px;
            }
        }
    }
}
// 650px
@mixin value-sm-md-extra {
    .value {

    }
}
// 540px
@mixin value-xsm-sm {
    .value {
        padding: 40px 0 90px;
        &__inner {
            &-image {
                width: 140%;
            }
            &-title {
                margin-bottom: 30px;
            }
            h3 {
                margin-bottom: 8px;
            }
        }
        &Item {
            width: 100%;
            max-width: unset;
            margin-bottom: 24px;
            &:last-child {
                margin: 0;
            }
            h4 {
                margin-bottom: 8px;
            }
            p {
                height: unset;
                display: block;
            }
        }
    }
}
// 440px
@mixin value-xxsm-xsm {
    .value {

    }
}